.btn {
    vertical-align: top;
    white-space: normal;
    cursor: pointer;
    border: none;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: $btn-height;
    position: relative;
    top: 0;
    padding: 5px 45px;
    font-weight: 500;
    line-height: 1.5;
    color: $color-text;
    text-transform: none;
    font-size: 16px;
    border-radius: 5px;
    border-color: $color-light;
    background-color: $color-light;
    transition: background-color .3s, border-color .3s, top .3s, box-shadow .3s;

    @include sm {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        max-width: 350px;
    }

    @include xxs {
        font-size: 14px;
    }

    &:hover {
        top: -5px;
    }

    &:active {
        top: 0;
    }

    small {
        display: block;
        font-size: 14px;
        margin-top: 5px;
        font-weight: 500;

        @include sm {
            font-size: 12px;
        }
    }

    &.text-white {
        color: #fff;
    }
}

.btn_accent {
    border-color: $color-accent;
    background-color: $color-accent;
    box-shadow: 0px 20px 50px rgba(108, 0, 0, 0.39), 0px 4px 0px $color-accent-dark;

    &:hover {
        background-color: $color-accent-light;
        box-shadow: 0px 40px 50px rgba(108, 0, 0, 0.39), 0px 4px 0px $color-accent-dark;
    }

    &:active {
        background-color: $color-accent-dark;
        box-shadow: 0px 20px 50px rgba(108, 0, 0, 0.39), 0px 4px 0px $color-accent-dark;
    }
}

.btn_secondary {
    background-color: $color-secondary;
    border-color: $color-secondary;
    box-shadow: 0px 20px 50px rgba(108, 0, 0, 0.39), 0px 4px 0px $color-secondary-dark;

    &:hover {
        background-color: $color-secondary-light;
        border-color: $color-secondary-light;
        box-shadow: 0px 20px 30px rgba(117, 85, 47, 0.38);
    }

    &:active {
        background-color: $color-secondary-dark;
        border-color: $color-secondary-dark;
        box-shadow: none;
    }
}

.btn_gray {
    background-color: $color-gray;
    border-color: $color-gray;
    color: $color-text;
    box-shadow: none;

    &:hover {
        top: 0;
        background-color: #DEDBD6;
        border-color: #DEDBD6;
        box-shadow: none;
    }

    &:active {
        background-image: none;
        background-color: darken($color-gray, 5%);
        border-color: darken($color-gray, 5%);
        box-shadow: none;
        color: $color-text;
    }
}

.btn_white {
    background-color: #fff;
    border-color: #fff;
    color: #fff;

    &:hover {
        background-color: #fff;
        border-color: #fff;
        color: $color-text;
    }

    &:active {
        background-image: none;
        background-color: darken(#fff, 5%);
        border-color: darken(#fff, 5%);
        color: $color-text;
    }
}

.btn {
    &_xl {
        height: $btn-height-xl;
    }

    &_lg {
        height: $btn-height-lg;
    }

    &_md {
        height: $btn-height-md;
    }

    &_sm {
        height: $btn-height-sm;
    }

    &_xs {
        height: $btn-height-xs;
    }

    &_min {
        @include md-min {
            min-width: 300px;
        }
    }

    &_max {
        width: 100%;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    &_disabled,
    &.btn.js-disabled {
        background-color: $color-disabled;
        border-color: $color-disabled;
        color: $color-text;
        pointer-events: none;
        user-select: none;
        box-shadow: none;
    }

    &_shadow-none {
        box-shadow: none;
    }

    &_border {
        border-width: 1px;
        background-color: transparent;
        box-shadow: none;
        border-style: solid;
        color: $color-text;

        &.text-white {
            color: $color-text;

            &:hover,
            &:active {
                color: #fff;
            }
        }

    }

    &.js-loading {
        color: transparent;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: center / 40px no-repeat;
            background-image: url("data:image/svg+xml,%0A%3Csvg width='47' height='47' viewBox='0 0 47 47' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8863 23.4996C13.8863 22.3198 12.9298 21.3633 11.7499 21.3633H3.20448C2.02464 21.3633 1.06812 22.3198 1.06812 23.4996C1.06812 24.6795 2.02464 25.636 3.20448 25.636H11.7499C12.9298 25.636 13.8863 24.6795 13.8863 23.4996Z' fill='white'/%3E%3Cpath d='M43.7953 21.3633H39.5226C38.3428 21.3633 37.3862 22.3198 37.3862 23.4996C37.3862 24.6795 38.3428 25.636 39.5226 25.636H43.7953C44.9752 25.636 45.9317 24.6795 45.9317 23.4996C45.9317 22.3198 44.9752 21.3633 43.7953 21.3633Z' fill='white'/%3E%3Cpath d='M24.568 12.8182C25.7478 12.8182 26.7044 11.8617 26.7044 10.6818V2.13636C26.7044 0.956521 25.7478 0 24.568 0C23.3882 0 22.4316 0.956521 22.4316 2.13636V10.6818C22.4316 11.8617 23.3882 12.8182 24.568 12.8182Z' fill='white'/%3E%3Cpath d='M24.5682 34.1816C23.3884 34.1816 22.4319 35.1382 22.4319 36.318V44.8635C22.4319 46.0433 23.3884 46.9998 24.5682 46.9998C25.7481 46.9998 26.7046 46.0433 26.7046 44.8635V36.318C26.7046 35.1382 25.7481 34.1816 24.5682 34.1816Z' fill='white'/%3E%3Cpath d='M10.9722 6.8835C10.1381 6.04918 8.7854 6.04932 7.95094 6.8835C7.11661 7.71782 7.11661 9.07042 7.95094 9.90475L13.9936 15.9475C14.4107 16.3647 14.9575 16.5733 15.5041 16.5733C16.0507 16.5733 16.5977 16.3647 17.0147 15.9477C17.849 15.1133 17.849 13.7607 17.0147 12.9264L10.9722 6.8835Z' fill='white'/%3E%3Cpath d='M35.1425 31.0534C34.3084 30.2192 32.9556 30.2192 32.1213 31.0534C31.287 31.8877 31.2871 33.2403 32.1213 34.0746L38.1641 40.1171C38.5812 40.5343 39.128 40.7428 39.6748 40.7428C40.2215 40.7428 40.7683 40.5341 41.1853 40.1171C42.0196 39.2828 42.0196 37.9302 41.1853 37.0959L35.1425 31.0534Z' fill='white'/%3E%3Cpath d='M13.9937 31.0535L7.95118 37.096C7.11686 37.9303 7.11686 39.2829 7.95118 40.1172C8.36834 40.5344 8.91511 40.7429 9.46187 40.7429C10.0086 40.7429 10.5554 40.5344 10.9724 40.1172L17.0149 34.0747C17.8492 33.2404 17.8492 31.8878 17.0149 31.0535C16.1806 30.2192 14.8278 30.2192 13.9937 31.0535Z' fill='white'/%3E%3C/svg%3E%0A");
            animation: spin 3s linear infinite;
            pointer-events: none;
            transition: opacity .3s
        }

        .btn-icon {
            opacity: 0;
        }
    }
}


.btn-icon {
    display: inline-flex;
    flex-direction: row;

    &::after {
        content: '';
        position: relative;
        display: block;
        flex-shrink: 0;
        margin-left: 10px;
        width: 19px;
        height: 19px;
        background: center / cover no-repeat;

        @include xxs {
            margin-left: 5px;
        }
    }

    &_pdf {
        &::after {
            width: 17px;
            height: 17px;
            background-image: url("data:image/svg+xml,%0A%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.3154 20.1875H2.75195C2.6683 20.1875 2.58807 20.1543 2.52891 20.0951C2.46976 20.036 2.43652 19.9557 2.43652 19.8721V0.31543C2.43652 0.231773 2.46976 0.151542 2.52891 0.0923872C2.58807 0.0332327 2.6683 0 2.75195 0L13.0545 0C13.1382 1.78651e-05 13.2184 0.0332623 13.2775 0.0924209L16.5384 3.35333C16.5976 3.41247 16.6308 3.49269 16.6309 3.57634V19.8721C16.6309 19.9557 16.5976 20.036 16.5385 20.0951C16.4793 20.1543 16.3991 20.1875 16.3154 20.1875Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M0.859375 10.3923L2.12109 9.83496L3.00177 11.1866H0.859375V10.3923Z' fill='url(%23paint1_linear)'/%3E%3Cpath d='M16 20.1875H2.43652C2.35287 20.1875 2.27264 20.1543 2.21348 20.0951C2.15433 20.036 2.12109 19.9557 2.12109 19.8721V0.31543C2.12109 0.231773 2.15433 0.151542 2.21348 0.0923872C2.27264 0.0332327 2.35287 0 2.43652 0L12.8697 0L16.3154 3.44575V19.8721C16.3154 19.9557 16.2822 20.036 16.223 20.0951C16.1639 20.1543 16.0837 20.1875 16 20.1875Z' fill='url(%23paint2_linear)'/%3E%3Cpath d='M12.8679 0V3.13032C12.8679 3.21398 12.9012 3.29421 12.9603 3.35337C13.0195 3.41252 13.0997 3.44575 13.1833 3.44575H16.3137L14.7681 1.58472L12.8679 0Z' fill='%23898989'/%3E%3Cpath d='M13.1681 16.559H1.41769C1.34436 16.559 1.27174 16.5446 1.20398 16.5166C1.13622 16.4885 1.07466 16.4474 1.02281 16.3955C0.970956 16.3437 0.929833 16.2821 0.90179 16.2144C0.873747 16.1466 0.859334 16.074 0.859375 16.0007V10.9487H13.1681C13.3161 10.9488 13.4581 11.0077 13.5628 11.1123C13.6674 11.217 13.7263 11.359 13.7264 11.507V16.0007C13.7264 16.1487 13.6676 16.2907 13.5629 16.3954C13.4582 16.5001 13.3161 16.559 13.1681 16.559Z' fill='%23C0780B'/%3E%3Cpath d='M2.12109 9.83496H1.41706C1.34383 9.83492 1.27132 9.84931 1.20366 9.8773C1.13601 9.90529 1.07452 9.94634 1.02273 9.9981C0.970945 10.0499 0.929862 10.1113 0.901832 10.179C0.873802 10.2466 0.859375 10.3191 0.859375 10.3923C0.859334 10.4656 0.87373 10.5381 0.901741 10.6058C0.929753 10.6735 0.97083 10.735 1.02262 10.7868C1.07442 10.8385 1.13591 10.8796 1.20359 10.9076C1.27127 10.9356 1.34381 10.95 1.41706 10.95H2.12109V9.83496Z' fill='%2383530B'/%3E%3Cpath d='M3.38281 14.8362V12.6742C3.38277 12.6382 3.38982 12.6026 3.40356 12.5693C3.4173 12.5361 3.43747 12.5059 3.46289 12.4804C3.48832 12.4549 3.51852 12.4347 3.55176 12.421C3.585 12.4072 3.62062 12.4001 3.65661 12.4001C4.0752 12.384 4.4944 12.3976 4.91107 12.4408C5.07967 12.4897 5.22621 12.5953 5.32593 12.7398C5.42564 12.8843 5.47241 13.0588 5.45834 13.2338C5.47078 13.4193 5.41681 13.6031 5.30608 13.7525C5.19534 13.9018 5.03508 14.0069 4.85398 14.0488C4.57655 14.0821 4.29708 14.095 4.01777 14.0876C3.99443 14.0876 3.97205 14.0969 3.95554 14.1134C3.93904 14.1299 3.92977 14.1523 3.92977 14.1756V14.8362C3.92977 14.8721 3.92269 14.9076 3.90895 14.9408C3.89521 14.974 3.87506 15.0041 3.84967 15.0295C3.82427 15.0549 3.79412 15.0751 3.76095 15.0888C3.72777 15.1026 3.6922 15.1096 3.65629 15.1096C3.58376 15.1096 3.5142 15.0808 3.46291 15.0295C3.41163 14.9782 3.38281 14.9087 3.38281 14.8362ZM3.92977 12.9467V13.5394C3.92977 13.5628 3.93904 13.5851 3.95554 13.6016C3.97205 13.6182 3.99443 13.6274 4.01777 13.6274C4.23331 13.6423 4.44986 13.628 4.66156 13.5848C4.73643 13.5551 4.79952 13.5017 4.84123 13.4327C4.88294 13.3638 4.90099 13.2831 4.89264 13.203C4.88428 13.1229 4.84998 13.0476 4.79494 12.9888C4.7399 12.93 4.66715 12.8907 4.58775 12.877C4.39823 12.8607 4.20796 12.8545 4.01777 12.8584C4.00622 12.8584 3.99478 12.8608 3.98412 12.8652C3.97346 12.8697 3.96378 12.8762 3.95564 12.8844C3.94749 12.8926 3.94105 12.9023 3.93666 12.913C3.93228 12.9237 3.93004 12.9352 3.93008 12.9467H3.92977Z' fill='white'/%3E%3Cpath d='M5.90625 12.6732C5.90621 12.6372 5.91326 12.6016 5.927 12.5683C5.94074 12.5351 5.9609 12.5049 5.98633 12.4794C6.01176 12.454 6.04196 12.4338 6.07519 12.42C6.10843 12.4062 6.14406 12.3991 6.18004 12.3991C6.59457 12.3744 7.01054 12.3917 7.42157 12.4508C7.58065 12.5023 7.72468 12.592 7.84105 12.712C7.95741 12.8321 8.04256 12.9788 8.08902 13.1394C8.15304 13.3467 8.18297 13.5629 8.17766 13.7797C8.1818 13.9752 8.15367 14.17 8.09438 14.3564C8.0509 14.5202 7.966 14.6701 7.84784 14.7916C7.72967 14.9131 7.58223 15.0022 7.41968 15.0503C7.0092 15.1084 6.59414 15.1276 6.18004 15.1077C6.10759 15.1077 6.03809 15.079 5.98678 15.0278C5.93546 14.9767 5.9065 14.9073 5.90625 14.8349V12.6732ZM6.4532 12.9457V14.5642C6.4532 14.5876 6.46248 14.6099 6.47898 14.6264C6.49549 14.643 6.51787 14.6522 6.54121 14.6522C6.75866 14.6642 6.97676 14.6556 7.19257 14.6264C7.28359 14.6072 7.36684 14.5614 7.43168 14.4947C7.49652 14.428 7.54 14.3435 7.55658 14.2519C7.59844 14.09 7.61713 13.923 7.61209 13.7558C7.61793 13.5931 7.59922 13.4305 7.55658 13.2735C7.53266 13.1761 7.48133 13.0875 7.40865 13.0184C7.33598 12.9492 7.24501 12.9023 7.14652 12.8833C6.94503 12.8611 6.74228 12.8525 6.53963 12.8574C6.51646 12.8578 6.49435 12.8672 6.47811 12.8838C6.46187 12.9003 6.4528 12.9226 6.45289 12.9457H6.4532Z' fill='white'/%3E%3Cpath d='M8.64551 14.834V12.6721C8.64551 12.5994 8.67439 12.5296 8.72579 12.4782C8.7772 12.4268 8.84692 12.3979 8.91962 12.3979H10.2738C10.3346 12.3979 10.3929 12.4221 10.4359 12.4651C10.4789 12.5081 10.5031 12.5664 10.5031 12.6273C10.5031 12.6574 10.4971 12.6872 10.4856 12.715C10.4741 12.7428 10.4572 12.768 10.4359 12.7893C10.4146 12.8106 10.3893 12.8274 10.3615 12.8389C10.3337 12.8504 10.3039 12.8563 10.2738 12.8563H9.28204C9.27046 12.8563 9.25899 12.8586 9.24829 12.863C9.2376 12.8674 9.22788 12.874 9.2197 12.8822C9.21153 12.8904 9.20505 12.9001 9.20065 12.9108C9.19624 12.9215 9.194 12.933 9.19404 12.9446V13.4095C9.194 13.4211 9.19624 13.4326 9.20065 13.4433C9.20505 13.454 9.21153 13.4638 9.2197 13.472C9.22788 13.4802 9.2376 13.4867 9.24829 13.4911C9.25899 13.4956 9.27046 13.4979 9.28204 13.4979H10.0959C10.1566 13.4979 10.2149 13.522 10.2579 13.5649C10.3009 13.6078 10.3251 13.6661 10.3252 13.7269C10.3251 13.7876 10.3009 13.8459 10.2579 13.8889C10.2149 13.9319 10.1566 13.9561 10.0959 13.9562H9.28204C9.27049 13.9562 9.25904 13.9585 9.24837 13.9629C9.23769 13.9673 9.22799 13.9738 9.21982 13.9819C9.21164 13.9901 9.20516 13.9998 9.20074 14.0105C9.19632 14.0212 9.19404 14.0326 9.19404 14.0442V14.8328C9.19396 14.9053 9.16507 14.9749 9.11374 15.0262C9.0624 15.0774 8.99281 15.1062 8.92025 15.1062C8.88433 15.1064 8.84874 15.0995 8.8155 15.0859C8.78225 15.0723 8.75201 15.0523 8.7265 15.027C8.70099 15.0017 8.6807 14.9717 8.66681 14.9386C8.65291 14.9055 8.64567 14.8699 8.64551 14.834Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='9.53369' y1='-10.0896' x2='9.53369' y2='-9.28026' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F3F7FF'/%3E%3Cstop offset='0.99' stop-color='%23B5D1FF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='1.93057' y1='9.6047' x2='1.93057' y2='37.7568' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF5252'/%3E%3Cstop offset='1' stop-color='%23D50000'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear' x1='477.631' y1='-109.598' x2='477.631' y2='3108.41' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23CCD5E9'/%3E%3Cstop offset='0.99' stop-color='%23A3C6FF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
        }
    }

    &_phone {
        &::after {
            width: 25px;
            height: 25px;
            background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.3745 14.6739C19.8626 14.1409 19.2453 13.856 18.591 13.856C17.942 13.856 17.3194 14.1357 16.7865 14.6686L15.1191 16.3307C14.982 16.2568 14.8448 16.1882 14.7129 16.1196C14.5229 16.0246 14.3435 15.9349 14.1905 15.8399C12.6287 14.848 11.2093 13.5553 9.848 11.8826C9.18845 11.049 8.74523 10.3472 8.42337 9.63487C8.85604 9.23914 9.25704 8.82758 9.6475 8.43185C9.79524 8.28411 9.94298 8.13109 10.0907 7.98335C11.1988 6.87531 11.1988 5.44012 10.0907 4.33207L8.65026 2.89161C8.48669 2.72804 8.31784 2.55919 8.15955 2.39035C7.84296 2.06321 7.51055 1.72552 7.16758 1.40893C6.65577 0.902398 6.0437 0.633301 5.39998 0.633301C4.75626 0.633301 4.13364 0.902398 3.606 1.40893C3.60072 1.41421 3.60072 1.41421 3.59544 1.41949L1.80146 3.2293C1.12608 3.90468 0.7409 4.7278 0.656477 5.68284C0.529843 7.22355 0.983615 8.65874 1.33186 9.59794C2.18664 11.9037 3.46353 14.0407 5.36832 16.3307C7.67939 19.0902 10.4601 21.2694 13.6365 22.8048C14.85 23.3799 16.4699 24.0606 18.2797 24.1767C18.3905 24.182 18.5066 24.1872 18.6121 24.1872C19.831 24.1872 20.8546 23.7493 21.6566 22.8787C21.6619 22.8681 21.6725 22.8629 21.6777 22.8523C21.9521 22.5199 22.2687 22.2191 22.6011 21.8973C22.828 21.6809 23.0602 21.4541 23.287 21.2166C23.8094 20.6731 24.0838 20.04 24.0838 19.391C24.0838 18.7367 23.8041 18.1088 23.2712 17.5812L20.3745 14.6739ZM22.2634 20.2299C22.2581 20.2299 22.2581 20.2352 22.2634 20.2299C22.0576 20.4515 21.8466 20.652 21.6197 20.8736C21.2767 21.2008 20.9285 21.5438 20.6013 21.9289C20.0684 22.4988 19.4405 22.7679 18.6174 22.7679C18.5383 22.7679 18.4538 22.7679 18.3747 22.7626C16.8076 22.6624 15.3513 22.0503 14.2591 21.5279C11.2726 20.0822 8.65026 18.0297 6.47109 15.4284C4.67183 13.2598 3.46881 11.2547 2.67207 9.10196C2.18136 7.78813 2.00196 6.7645 2.08111 5.79892C2.13388 5.18158 2.37131 4.66976 2.80926 4.23182L4.60852 2.43256C4.86706 2.18984 5.14144 2.05793 5.41053 2.05793C5.74295 2.05793 6.01204 2.25844 6.18089 2.42728C6.18617 2.43256 6.19144 2.43784 6.19672 2.44311C6.51858 2.74387 6.82461 3.05518 7.14648 3.38759C7.31004 3.55644 7.47889 3.72528 7.64774 3.89941L9.0882 5.33987C9.6475 5.89917 9.6475 6.41626 9.0882 6.97556C8.93518 7.12857 8.78744 7.28159 8.63443 7.42933C8.19121 7.8831 7.76909 8.30522 7.31004 8.71678C7.29949 8.72733 7.28894 8.73261 7.28366 8.74316C6.82989 9.19693 6.91431 9.64015 7.00929 9.94091C7.01456 9.95674 7.01984 9.97256 7.02512 9.98839C7.39974 10.8959 7.92739 11.7507 8.7294 12.7691L8.73468 12.7743C10.191 14.5683 11.7264 15.9666 13.4201 17.0377C13.6365 17.1749 13.8581 17.2857 14.0691 17.3912C14.2591 17.4862 14.4385 17.5759 14.5915 17.6709C14.6126 17.6814 14.6337 17.6972 14.6548 17.7078C14.8342 17.7975 15.0031 17.8397 15.1772 17.8397C15.6151 17.8397 15.8895 17.5653 15.9792 17.4756L17.7837 15.6711C17.9631 15.4917 18.2481 15.2754 18.5805 15.2754C18.9076 15.2754 19.1767 15.4811 19.3403 15.6605C19.3456 15.6658 19.3456 15.6658 19.3508 15.6711L22.2581 18.5784C22.8016 19.1166 22.8016 19.6706 22.2634 20.2299Z' fill='white'/%3E%3C/svg%3E%0A");
        }
    }

    span#{&}-icon {
        display: inline-flex;
    }
}