.fslightbox-container {
    body & {
        font-family: $text-font-family;
    }

    .fslightbox-toolbar-button,
    .fslightbox-slide-btn {
        background-color: $color-accent;
        transition: background-color .3s;


    }

    .fslightbox-svg-path {
        fill: $color-dark;
    }
}

.fslightbox-container {

    .fslightbox-toolbar-button,
    .fslightbox-slide-btn {

        &:hover,
        &-container:hover .fslightbox-slide-btn {
            background-color: $color-accent-dark;

            .fslightbox-svg-path {
                fill: $color-dark;
            }
        }

        &:active {
            background-color: darken($color-accent, 15%);
        }
    }
}